@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Junicode Condensed";
  src: url("../fonts/Junicode-RegularCondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode-Bold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode-BoldItalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Messapia";
  src: url("../fonts/Messapia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messapia";
  src: url("../fonts/Messapia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --transition: 0.3s ease-in-out;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: "Junicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
html,
.wrapper {
  height: 100%;
}

.scroll-container {
  overflow-y: auto;
  flex: 1 1 1px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
  font-family: "Messapia", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

h5{
  font-family: "Aileron", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

/* navigation */

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent;
}

.dept-nav, .navbar-collapse {
  font-family: "Aileron", sans-serif;
  text-transform: uppercase;
}

.dept-nav .nav-link {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 20px 10px;
}

.dept-nav .nav-link:first-of-type {
  border-top: 1px solid black;
}

.dept-nav .nav-link span {
  margin-left: 0px;
  transition: margin-left var(--transition);
  display: block;
}

.dept-nav .nav-link span.active,
.dept-nav .nav-link:hover span {
  margin-left: 15px;
}

.navbar-collapse .text-body {
  padding: 20px;
  border-bottom: 1px solid black;
}

/* logo */

.dept-logo {
  margin: 25px 0;
}

.dept-logo a {
  text-decoration: none;
}

.dept-logo-title {
  font-family: "Messapia", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 1;
}

.dept-logo-description {
  font-family: "Junicode Condensed", serif;
  font-weight: normal;
  margin-left: 28px;
  font-size: 1rem;
}

/* credits */

.dept-credits {
  font-family: "Aileron", sans-serif;
  font-size: 0.875rem;
}

.dept-credits a {
  text-decoration: underline;
}

/*home*/

h2 {
  font-family: "Junicode Condensed", serif;
  font-weight: Regular;
  font-size: 3.5rem;
}

.testone p, .page-intro p, ul{
    font-family: "Junicode Condensed", serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 120%;
}

.entry-point a{
  font-family: "Aileron", sans-serif;
  font-size: 18px;
  margin-right: 30px;
  color: #212529;
  text-decoration: underline;
  text-transform: uppercase;
}

.dept {
  font-family: "Messapia", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60%;
  line-height: 120%;
}

/* workshops */

.workshops-container {
}

.workshop-container {
  border-top: 1px solid black;
  padding: 20px 0px;
}

.workshop-title {
  margin-bottom: 20px;
}
.workshops-container a:hover {
  text-decoration: none;
}

.text-body .workshop-container{
  transition: padding-left var(--transition);
}

.text-body .workshop-container:hover{
  padding-left: 100px
}

.workshop-title h2 {
  font-family: "Junicode Condensed", serif;
  font-weight: normal;
  font-size: 2.5rem;
}

.workshop-info {
  display: block;
}

.workshop-info-box {
  flex: 0 0 50%;
  max-width: 100%;
}

.workshop-info-box h6 {
  font-family: "Aileron", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0;
}

.workshop-info-box p, .workshop-title p{
  font-family: "Junicode Condensed", serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: 18px;
}

.workshop-img {
  height: 400px;
}

.workshop-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workshop-content p, .methods-body p{
  font-family: "Aileron", sans-serif;
  font-size: 1.3rem;
  line-height: 140%;
}

.btn-dark {
  border: 1px solid #000000;
  background-color: white;
  color: #000000;
  text-transform: uppercase;
  font-family: "Aileron", sans-serif;
}

/* methods */
.methods-heading {
  border-top: 1px solid black;
}

#headingThree{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
      font-size: 7rem;
  }

  .testone, .page-intro{
      padding-left: 50px;
  }

  h2 {
    font-size: 4.5rem;
  }

  .dept-logo-description {
    font-size: 1.375rem;
  }

  .testone p, .page-intro p, ul{
      font-size: 2.5rem;
  }

  .workshop-title h2 {
    font-size: 4.5rem;
  }

  .workshop-info-box p, .workshop-title p{
    font-size: 2.25rem;
    margin-left: 28px;
  }

  .workshop-info {
    display: flex;
  }

  .workshop-info-box {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .workshop-container {
    border-top: 1px solid black;
    padding: 20px 50px;
  }




}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
