---
layout: default
---

<div>
  <div class="workshop-container border-0">
    <div class="workshop-title">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="workshop-info">
      <div class="workshop-info-box">
        <h6>where</h6>
        <p>{{ page.where }}</p>
      </div>
      <div class="workshop-info-box">
        <h6>when</h6>
        <p>
          {{ page.start_date | date: "%d.%m" }}–{{ page.end_date | date:
          "%d.%m.%Y" }}
        </p>
      </div>
    </div>
  </div>
  <div class="workshop-img">
    <img src="{{'assets/images/' | append: page.image | relative_url }}" />
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-6 offset-2">
        {{content}}
      </div>
      <div class="col-2">
        <a href="{{page.signup_link}}" role="button" class="btn btn-primary"
          >sign up</a
        >
      </div>
    </div>
  </div>
</div>
