---
layout: default
---
<div class="mt-3 page-intro">
    <p>{{ content }}</p>
</div>

<div class="workshops-container mt-5">
  {% assign workshops = site.workshops | sort: 'order' %} {% for
  workshop in workshops %}
  <a class="text-body" href="{{ workshop.url | relative_url  }}"><div class="workshop-container">
    <div class="workshop-title">
      <h2>{{ workshop.title }}</h2>
    </div>
    <div class="workshop-info">
      <div class="workshop-info-box">
        <h6>Venue</h6>
        <p>{{ workshop.where }}</p>
      </div>
      <div class="workshop-info-box">
        <h6>Dates</h6>
        <p>
          {{ workshop.start_date | date: "%d.%m" }}–{{ workshop.end_date | date:
          "%d.%m.%Y" }}
        </p>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>
